/.idea/
/lib/model/om/
/lib/model/map/
/lib/vendor/
/cache/
/log/
/data/
/plugins/
/composer.lock
/config/databases.yml
/web/generated/
/web/sfPhastPlugin
/web/sfPropelORMPlugin
/*.bat
/*.sh
thumbs.db

!/data/fixtures/fixtures.yml
