/.idea/
/*.sublime-project
/*.sublime-workspace
thumbs.db

/node_modules/
/bower_components/
/lib/model/om/
/lib/model/map/
/lib/vendor/
/cache/
/log/
/data/
/plugins/
/composer.phar
/composer.lock
/config/databases.yml
/web/generated/
/web/sf*Plugin
/web/js/
/web/css/
/web/images/
/web/sprites/
/web/fonts/
/source/etc/*.styl
/*.bat
/*.sh

!/data/fixtures/fixtures.yml
