$settings-img-path = '../../assets/images/'
$layout-min-width = 320px

$media-big = 1200px
$media-small = 1024px
$media-tablet = 980px
$media-tablet-small = 768px
$media-phone = 480px

$block-width = (320px - 24px)
$block-max-width = 1176px
$block-padding = 12px

$footer-height = 0
$footer-margin = 0

$header-height = 0
$header-margin = 0

$font-arial = Arial, sans-serif
$font-main = $font-arial

$color-dgrey = #54616a
$color-lgrey = #eef1f8
$color-grey = #8a96a2
$color-blue = #006fb8
$color-dblue = #0b4c78
$color-lblue = #32a0ea
$color-red = #ee3126

$color-inst = #3f729b
$color-tw = #55acee
$color-fb = #3b5998
$color-ok = #ed812b
$color-vk = #45668e
$color-yt = #cd201f

$color-main = #222
$color-text = $color-main
$color-link = $color-blue
$color-link-h = $color-red
$color-title = $color-main
