include-font(font-name, file-name, font-weight = 400, font-style = normal) {
   @font-face {
      font-family font-name
      src url('../fonts/'+file-name+'.woff') format('woff'), url('../fonts/'+file-name+'.svg#'+file-name) format('svg')
      font-weight font-weight
      font-style font-style
   }
}
